.main {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
}

.header-login h1 {
    display: flex;
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
    top: auto;
}

.input {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input input {
    width: 85%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input label {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

.input input:focus {
    outline: none;
    border-bottom: 2px solid #a777e3;
}

.input input::placeholder {
    color: #999;
}

.button {
    width: 100%;
    margin-top: 20px;
}

.password-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}


.button button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    margin-top: 10px;
}
